Repository ParkWithEase/parkeasy, pull requests merged in 2024-12, with the labels that each got.

#339 feat(android): add availability selector to add parking spots screen
  android/.idea/kotlinc.xml
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/gradle/libs.versions.toml
Labels: frontend/android

#346 fix(android): refactor UI
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/local/AuthRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ClickableText.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/DateTimeUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/NullUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/ParkEasyTextField.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PreviewAll.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/RecoverErrors.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Labels: frontend/android

#352 feat(webapp): make green button blue
  webapp/src/app.css
  webapp/src/lib/components/theme.svelte
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/your-cars/+page.svelte
Labels: frontend/web

#351 feat(android): add support for focusing to current location
  android/.idea/misc.xml
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/LocationModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCase.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/domain/GetLocationUseCaseImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/CreateBookingScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/SearchViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/search/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/gradle/libs.versions.toml
Labels: enhancement, frontend/android

#356 chore(webapp): change login logo
  webapp/package-lock.json
  webapp/src/lib/components/form-header.svelte
  webapp/src/lib/images/parkeasy-logo.png
  webapp/src/routes/auth/login/+page.svelte
Labels: frontend/web

#357 webapp: add CF Pages headers configuration
  webapp/static/_headers
Labels: enhancement/non-functional, frontend/web
