Repository ParkWithEase/parkeasy, pull requests merged in 2024-11, with the labels that each got.

#211 Hook up ParkingSpot API to frontend
  webapp/src/app.css
  webapp/src/lib/components/car-component/car-display.svelte
  webapp/src/lib/components/car-component/car-view-edit-modal.svelte
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/components/spot-component/availability-section.svelte
  webapp/src/lib/components/spot-component/availability-table.svelte
  webapp/src/lib/components/spot-component/spot-display.svelte
  webapp/src/lib/components/spot-component/spot-edit-modal.svelte
  webapp/src/lib/components/spot-component/spot-location-create-form.svelte
  webapp/src/lib/components/transaction/spot-leasing-display.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/enum/timeslot-status.ts
  webapp/src/lib/sdk/schema.d.ts
  webapp/src/lib/utils/datetime-util.ts
  webapp/src/lib/utils/error-handler.ts
  webapp/src/lib/utils/time-table-util.ts
  webapp/src/routes/app/add-your-spots/+page.svelte
  webapp/src/routes/app/profile/+layout.server.ts
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/profile/booking-history/+page.svelte
  webapp/src/routes/app/profile/leasing-history/+page.svelte
  webapp/src/routes/app/profile/preferred-spots/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.svelte
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-spots/+page.svelte
  webapp/src/routes/app/your-spots/+page.ts
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-leasing-history/+page.ts
  webapp/src/routes/app/your-spots/[id]/spot-performance/+page.svelte
  webapp/tsconfig.json
Labels: enhancement, frontend/web

#190 webapp: solve svelte-check issues and add type check to CI
  .github/workflows/webapp.yaml
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/car-component/car-add-modal.svelte
  webapp/src/lib/components/spot-component/spot-edit-modal.svelte
  webapp/src/lib/utils/error-adapters.ts
  webapp/src/lib/utils/paginate.ts
  webapp/src/routes/app/profile/user-profile/+page.ts
  webapp/src/routes/app/profile/user-profile/page.test.ts
  webapp/src/routes/app/your-cars/+page.svelte
  webapp/src/routes/app/your-cars/+page.ts
  webapp/src/routes/app/your-cars/page.test.ts
  webapp/src/routes/app/your-spots/+page.svelte
Labels: bug, testing, frontend/web

#230 Android: Parking Spot List
  android/app/src/main/java/io/github/parkwithease/parkeasy/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/drawable/icon.xml
  android/app/src/main/res/drawable/icon_outlined.xml
  android/app/src/main/res/drawable/logo_stacked.xml
  android/app/src/main/res/drawable/logo_stacked_outlined_alt.xml
  android/app/src/main/res/drawable/wordmark.xml
  android/app/src/main/res/drawable/wordmark_outlined.xml
  android/app/src/main/res/values/strings.xml
Labels: frontend/android

#229 Android: Add Edit Cars
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/EditMode.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Labels: frontend/android

#231 Bug fix - returning a spot multiple times
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
Labels: bug

#226 Added functionality to Listing view and Map explore view
  webapp/package-lock.json
  webapp/package.json
  webapp/src/lib/components/spot-listings/detail-modal.svelte
  webapp/src/lib/components/spot-listings/spots-list-component.svelte
  webapp/src/lib/types/address/address.ts
  webapp/src/routes/app/+page.svelte
Labels: enhancement, frontend/web

#232 Android: Create Parking Spot
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/FieldState.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Spot.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: frontend/android

#227 feat(backend): add profiler server on configurable port
  backend/README.md
  backend/cmd/parkserver/cmd/serve.go
  backend/compose.yaml
  backend/example.env
Labels: enhancement/non-functional, backend

#236 Update Readme with link to worksheet
  README.md
Labels: documentation

#246 bug fix: fix the error where one extra time slot is fetched
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.ts
Labels: bug, frontend/web

#297 Fix bug where error not showing up correctly for signup pages
  webapp/src/lib/constants.ts
  webapp/src/routes/auth/login/+page.svelte
  webapp/src/routes/auth/password-forgot/+page.svelte
  webapp/src/routes/auth/password-forgot/page.test.ts
  webapp/src/routes/auth/password-reset/password-reset.svelte
  webapp/src/routes/auth/signup/+page.svelte
  webapp/src/routes/auth/signup/page.test.ts
Labels: bug, frontend/web

#314 Make the navbar and sidebar responsive
  webapp/src/lib/components/navbar.svelte
  webapp/src/lib/constants.ts
  webapp/src/lib/stores/responsive.ts
  webapp/src/routes/app/+layout.svelte
  webapp/src/routes/app/profile/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/+layout.svelte
  webapp/src/routes/app/your-spots/[id]/spot-info/+page.svelte
Labels: dev task, frontend/webapp

#317 backend: add preference spot implementation and tests
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000008_create_preferencespot_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/preferencespot.go
  backend/internal/pkg/dbmodels/users.go
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Labels: enhancement, backend

#321 build(android): bump JDK version
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/kotlinc.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
Labels: frontend/android

#330 backend bugfix: preference spots
  backend/internal/pkg/repositories/preferencespot/postgres.go
  backend/internal/pkg/repositories/preferencespot/postgres_integration_test.go
  backend/internal/pkg/repositories/preferencespot/preferencespot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
Labels: bug, backend

#329 fix(android): simple sanitization of form fields
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Labels: frontend/android

#327 fix(android): properly show errors on empty field in car and spot form
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Labels: frontend/android

#326 fix(android): use refreshTrigger for refreshing profile in ProfileScreen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
Labels: frontend/android

#324 refactor(android): move common to ui/common
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/common/PullToRefreshBox.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
Labels: frontend/android

#322 chore(android): remove unnecessary contentDescriptions
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
Labels: frontend/android

#320 refactor(android): move Result::mapAPIError to a common package
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/common/ResultUtils.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Labels: frontend/android

#325 fix(android): map repo results to Results
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/SpotRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/LoggedOutException.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/spots/SpotsViewModel.kt
Labels: frontend/android
