Repository ParkWithEase/parkeasy, pull requests merged in 2024-10, with the labels that each got.

#102 backend: add parking spot management logic
  backend/go.mod
  backend/go.sum
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/routes/session.go
  backend/internal/pkg/routes/user.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
Labels: enhancement, backend

#100 Android Login UI
  android/.idea/inspectionProfiles/Project_Default.xml
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/icon-playstore.png
  android/app/src/main/java/io/github/parkwithease/parkeasy/Credentials.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/HttpService.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/MainActivity.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/theme/Color.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/theme/Theme.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/theme/Type.kt
  android/app/src/main/res/drawable/email.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/icon_foreground.xml
  android/app/src/main/res/drawable/outlined_stacked.png
  android/app/src/main/res/drawable/password.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-anydpi-v26/icon.xml
  android/app/src/main/res/mipmap-anydpi-v26/icon_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-hdpi/icon.webp
  android/app/src/main/res/mipmap-hdpi/icon_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/icon.webp
  android/app/src/main/res/mipmap-mdpi/icon_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/icon.webp
  android/app/src/main/res/mipmap-xhdpi/icon_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/icon.webp
  android/app/src/main/res/mipmap-xxhdpi/icon_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/icon.webp
  android/app/src/main/res/mipmap-xxxhdpi/icon_round.webp
  android/app/src/main/res/values/icon_background.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: enhancement, frontend/android

#128 backend: fix Air usage with compose
  backend/README.md
  backend/compose.air.yaml
  backend/compose.yaml
Labels: enhancement/non-functional, backend

#176 Android: Unblock Login Screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
Labels: frontend/android

#181 Android: Replace Toasts with Snackbars
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Event.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/list/ListViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/login/LoginViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBar.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/navbar/NavBarViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
Labels: frontend/android

#189 feat(android): add unit test coverage to CI using Kover
  .github/workflows/android.yaml
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: testing, frontend/android

#195 Android: Fix Bug Where Session DataStore Crashed App
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/local/AuthRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
Labels: bug, frontend/android

#201 Documentation: Move to Wiki
  docs/AcceptanceCriteria.md
  docs/Architecture.png
  docs/ProjectProposal.md
  docs/ProposalPresentation.pdf
Labels: documentation

#198 Android: Bump minSdk to 25 and Bump Compose versions
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: dependencies, frontend/android

#199 Android: Add Map Screen
  android/app/build.gradle.kts
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/map/MapScreen.kt
  android/gradle/libs.versions.toml
Labels: dependencies, frontend/android

#206 feat(backend): add listing support
  backend/.golangci.yaml
  backend/README.md
  backend/cmd/parkserver/cmd/serve.go
  backend/example.env
  backend/go.mod
  backend/go.sum
  backend/internal/app/parkserver/server.go
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000006_create_parkingspot_table.up.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.down.sql
  backend/internal/pkg/dbmigration/migrations/000007_create_timeunit_table.up.sql
  backend/internal/pkg/dbmodels/bob_main.go
  backend/internal/pkg/dbmodels/bob_main_test.go
  backend/internal/pkg/dbmodels/parkingspot.go
  backend/internal/pkg/dbmodels/timeunit.go
  backend/internal/pkg/dbtype/tstzrange.go
  backend/internal/pkg/models/errors.go
  backend/internal/pkg/models/parkingspot.go
  backend/internal/pkg/repositories/car/car.go
  backend/internal/pkg/repositories/geocoding/geocoding.go
  backend/internal/pkg/repositories/geocoding/geocodio.go
  backend/internal/pkg/repositories/parkingspot/parkingspot.go
  backend/internal/pkg/repositories/parkingspot/postgres.go
  backend/internal/pkg/repositories/parkingspot/postgres_integration_test.go
  backend/internal/pkg/routes/huma.go
  backend/internal/pkg/routes/parkingspot.go
  backend/internal/pkg/routes/parkingspot_test.go
  backend/internal/pkg/services/parkingspot/parkingspot.go
  backend/internal/pkg/services/parkingspot/parkingspot_test.go
  backend/tools/modelgen/main.go
Labels: enhancement, backend, database

#196 Android: User Profile Screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/UserRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/HttpModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Profile.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: frontend/android

#200 Android: Car List Screen
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepository.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/data/remote/CarRepositoryImpl.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/di/RepoModule.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/model/Car.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/MainNavGraph.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsScreen.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/cars/CarsViewModel.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileNavigation.kt
  android/app/src/main/java/io/github/parkwithease/parkeasy/ui/profile/ProfileScreen.kt
  android/app/src/main/res/values/strings.xml
Labels: frontend/android

#214 android: set version information from git
  .github/workflows/android.yaml
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: frontend/android
